@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web&display=swap');
// Font family
$fontOpenSans: 'Open Sans',
sans-serif;
$fontTitillium: 'Titillium Web',
sans-serif;
// Color
$backgroundColor: #11324d;
$column2Background: #64b4c8;